.wcdd-field-container{
    padding: 20px 0;
}
.wcdd-field-container label{
    margin-bottom: 10px;
    display: block;
}
ul.delivery_options {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.delivery_options li{
    display: inline-block;
    width: 30%;
    height: auto;
    vertical-align: text-top;
}
.delivery_options li .required-error {
    display: none;
}
ul.delivery_options li button{
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    background: white;
    border: 1px solid #ddd;
}
ul.delivery_options li button.active {
    background-color: #eee;
}
.wcdd-date-group {
    position: relative;

}

.wcdd-date-group label {
    display: block;
    margin-bottom: 10px;
}
.wcdd-date-group input{
    opacity: 0;
}
.wcdd-date-group input,.wcdd-date-group button{
    position: absolute;
}
.wcdd-date-group button{
   z-index: 1;
}